body{
	font-family:'Microsoft Yahei';
}

html,body { width:100%; height:100%;}


.swiper-container { width: 100%; height: 100%;} 


/* .p1{
	background-color: #f6de9e;
}


.p1 h1{
	width:100%;
	position:absolute;
	top:30%;
	text-align:center;
	transform:rotate(-90deg);
	transform-origin:60px center;
	opacity:0;
	transition: all 2000ms cubic-bezier(0.260, -0.600, 0.345, 1.560);
}

.p1 p{

	width:100%;
	position:absolute;
	top:40%;
	text-align:center;
	transform:translateY(100px);
	opacity:0;
	transition: all 2000ms cubic-bezier(0.260, -0.600, 0.345, 1.560);
}



.p1.moving h1{
	opacity:1;
	transform:rotate(0deg);
}

.p1.moving p{
	opacity:1;
	transform:translateY(0px);
}






.p2{
	background-color:#92d5ea;
}

.p3{
	background-color:#e28cd7;
}

.p4{
	background-color:#18c195;
} */



 
.p1 { background-color:#f6de9e;} 

.p1 h1,.p1 p,.p2 h1,.p2 p,.p3 h1,.p3 p,.p4 h1,.p4 p{text-align:center;position:absolute;top:30%;width:100%;color:#dc6835; transition: all 500ms cubic-bezier(0.260, -0.600, 0.345, 1.560);}







.p1 p,.p2 p,.p3 p,.p4 p{top:40%;font-size:20px;}

.p1 h1{
	transform:rotate(-90deg);
	transform-origin:80px center;
	opacity: 0;
}

.p1 p{
	transform:translateY(200px);
	opacity: 0;
}

.p1.moving h1{
	transform:rotate(0deg);
	transform-origin:80px center;
	opacity: 1;
}

.p1.moving p{
	transform:translateY(0px);
	opacity: 1;
}




.p2 { background-color:#92d5ea;} 
.p2 h1,.p2 p{color:#9e57e6}


.p2 h1{
	transform:scale(0.3,0.3);	
	opacity: 0;
}

.p2 p{
	transform:translateY(200px);
	opacity: 0;
}

.p2.moving h1{
	transform:scale(1,1);
	opacity: 1;
}

.p2.moving p{
	transform:translateY(0px);
	opacity: 1;
}


.p3 { background-color:#e28cd7;}
.p3 h1,.p3 p{color:#dcda35}


.p3 h1{
	transform:rotate(-90deg);
	transform-origin:80px center;
	opacity: 0;
}

.p3 p{
	transform:translateY(200px);
	opacity: 0;
}

.p3.moving h1{
	transform:rotate(0deg);
	transform-origin:80px center;
	opacity: 1;
}

.p3.moving p{
	transform:translateY(0px);
	opacity: 1;
}


.p4 { background-color:#18c195;}
.p4 h1,.p4 p{color:#b3dc35}


.p4 h1{
	transform:rotate(-90deg);
	transform-origin:80px center;
	opacity: 0;
}

.p4 p{
	transform:translateY(200px);
	opacity: 0;
}

.p4.moving h1{
	transform:rotate(0deg);
	transform-origin:80px center;
	opacity: 1;
}

.p4.moving p{
	transform:translateY(0px);
	opacity: 1;
} 


.up_icon{
	width:24px;
	height:20px;
	position:absolute;
	left:50%;
	margin-left:-12px;
	bottom:20px;
	background:url(../images/arrow.png) no-repeat;
	background-size:100% 100%;
	z-index: 900;
	animation-name:upup;
	animation-time-function:ease;
	animation-duration:1300ms;
	animation-iteration-count:infinite;
}


@keyframes upup{
	0%{
		transform:translateY(0px);
		opacity:1;
	}

	50%{
		transform:translateY(-15px);
		opacity:1
	}

	100%{
		transform:translateY(-30px);
		opacity:0
	}
}


